# Aliases
alias .1="cd ../"
alias .2="cd ../../"
alias .3="cd ../../../"
alias .4="cd ../../../../"
alias .5="cd ../../../../../"
alias ar="sudo apt-get autoremove && sudo apt-get autoclean"
alias cc="clear"
alias co="code ."
alias cpwd="pwd | xclip -selection clipboard"
alias ga="git add ."
alias gc="git commit -m"
alias gl="git log"
alias gp="git push"
alias gs="git status"
alias ll="ls -la"
alias r="ranger"
alias sd="shutdown now"
alias up="sudo apt-get update && sudo apt-get upgrade"
alias xs="xset dpms force off"

#NPM Aliases
alias nr="npm run"
alias ni="npm i"
alias nu="npm uninstall"
alias nrs="npm run start"
alias nsd="npm run start-dev"
alias nsp="npm run start-prod"
