# Aliases
alias .1="cd .."
alias .2="cd ../../"
alias .3="cd ../../../"
alias .4="cd ../../../../"
alias .5="cd ../../../../../"
alias cc="clear"
alias cwd="pwd | clip"
alias ga="git add ."
alias gc="git commit -m"
alias gl="git log"
alias gp="git push"
alias gs="git status"

# LSDeluxe Aliases
alias l="winpty lsd -l --color=always --icon=always --blocks=permission,name"
alias lw="lsd -l --color=always --icon=always --blocks=permission,name"
alias la="winpty lsd -A1 --color=always --icon=always --blocks=permission,name"
alias law="lsd -A1 --color=always --icon=always --blocks=permission,name"
alias ld="winpty lsd -ld */ --color=always --icon=always --blocks=permission,name"
alias ldw="lsd -ld */ --color=always --icon=always --blocks=permission,name"
alias lh="winpty lsd -ld .* --blocks=permission,name --icon=always --color=always"
alias lhw="lsd -ld .* --blocks=permission,name --icon=always --color=always"
alias ll="winpty lsd -lA --color=always --icon=always"
alias llw="lsd -lA --color=always --icon=always"
alias lt="winpty lsd --tree --color=always --icon=always"
alias ltw="lsd --tree --color=always --icon=always"

#NPM Aliases
alias nr="npm run"
alias ni="npm i"
alias nu="npm uninstall"
alias nrs="npm run start"
alias nsd="npm run start-dev"